<mat-toolbar>
  <a class="navbar-brand" routerLink="">
    <p class="logo">Equilibria</p>
  </a>
  <span>SFDC Job Monitor</span>

  <input type="text" class="searchbar" placeholder=" Search" />
</mat-toolbar>
<div class="loader" *ngIf="isDataProcessing"></div>
<div class="breadcrumbs">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="">Salesforce Sync</a></li>
    <li class="breadcrumb-item">
      <a routerLink="/Salesforce">Align SFDC data with Anaplan</a>
    </li>
    <li class="breadcrumb-item active">SFDC Jobs Monitor</li>
  </ol>
</div>

<div class="table-panel">
  <div class="table-scroll">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="Account_Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ACCOUNT NAME</th>
        <td mat-cell *matCellDef="let element">{{ element.Account_Name }}</td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>STATUS</th>
        <td mat-cell *matCellDef="let element" [style.color]="green">{{ element.Status }}</td>
      </ng-container>

      <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>TYPE</th>
        <td mat-cell *matCellDef="let element">{{ element.Type }}</td>
      </ng-container>

      <ng-container matColumnDef="Started">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>STARTED</th>
        <td mat-cell *matCellDef="let element">{{ element.Started }}</td>
      </ng-container>

      <ng-container matColumnDef="Duration">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>DURATION</th>
        <td mat-cell *matCellDef="let element">{{ element.Duration }}</td>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>ACTIONS</th>
        <td mat-cell *matCellDef="let element">{{ element.Actions }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns">
        <!-- (click)="selection.toggle(row)"> -->
      </tr>
    </table>
  </div>
</div>
<div class="col text-right">
  <button (click)="goBack()" type="button" class="btn btn-primary">Back</button>
</div>
