.logo {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  position: absolute;
  width: 179px;
  height: 47px;
  left: 40px;
  top: 8px;
  font-size: 40px;
  line-height: 47px;
  color: #185BB2;
}

mat-toolbar {
  height: 80px;
  box-shadow: 1px 1px 6px 5px #908f8f8f;
}

.banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60%;
  background: rgba(4, 91, 178, 0.7);
}

.bottom-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40%;
}

.bottom-section-header {
  display: flex;
  flex-direction: column;
  height: 40px;
}

.bottom-section-card-holder {
  display: flex;
  justify-content: center;
  height: 100%;
}

.heading {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  font-size: 50px;
  line-height: 77px;
  color: #ffffff;
  padding-top: 40px;
}

.main-logo {
  width: 60px;
  position: absolute;
  left: 40px;
  top: 55px;
}

.card-column {
  display: flex;
  flex-grow: 1;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-column2 {
  display: flex;
  flex-grow: 0;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Image1 {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 235px;
  top: 150px;
  color: #ffffff;
}

.content-text {
  padding-top: 12px;
  width: 320px;
  height: 63px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.Image2 {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 698px;
  top: 150px;
  color: #ffffff;
}

.content2 {
  position: absolute;
  width: 319px;
  height: 63px;
  left: 540px;
  top: 200px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.Image3 {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 1183px;
  top: 150px;
  color: #ffffff;
}

.content3 {
  position: absolute;
  width: 319px;
  height: 63px;
  left: 1030px;
  top: 200px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.section {
  position: absolute;
  width: 1440px;
  height: 400px;
  left: 0px;
  top: 90px;
}



.sales {
  width: 120px;
  height: 120px;
  background: #E5E5E5;
}

.head {
  padding-top: 31px;
  height: 11px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #2E2E2E;
  text-align: center;
}

.para {
  padding-top: 10px;
  height: 10px;
  left: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 9px;
  text-align: center;
  color: #2E2E2E;
}

.card-c-border {
  height: 10px;
  left: 547px;
  top: 600px;
  background: #00A1E0;
}

.salesforce {
  padding-top: 8px;
  padding-left: 2px;
}

.Anaplan {
  position: absolute;
  width: 120px;
  height: 120px;
  left: 683px;
  top: 480px;
  background: #E5E5E5;
}

.head1 {
  position: absolute;
  width: 88px;
  height: 11px;
  left: 20px;
  top: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #2E2E2E;
}

.para1 {
  position: absolute;
  width: 112px;
  height: 10px;
  left: 5px;
  top: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 9px;
  text-align: center;
  color: #2E2E2E;
}

.brdr {
  position: absolute;
  width: 120px;
  height: 10px;
  left: 683px;
  top: 600px;
  background: #0A2064;
}

.anp {
  position: absolute;
  width: 56px;
  height: 28px;
  left: 10px;
  top: 75px;
}

.main-container {
  height: calc(100vh - 80px);
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  overflow: hidden;
}
