<mat-toolbar>
  <a class="navbar-brand" routerLink="">
    <p class="logo">Equilibria</p>
  </a>
  <img class="main-logo" src="../../assets/enquero-blue.png" alt="logo" />
</mat-toolbar>
<section class="main-container">
  <section class="banner">
    <div class="row" style="
      height: 117px;
  ">
      <div class="col-sm">
        <p class="heading">Welcome to the App Wizard</p>
      </div>
    </div>
    <div class="row" style="
    height: 100%;
">
      <div class="col-sm card-column">
        <img src="../../assets/synchronization.png" style="width: 44px" />
        <span class="content-text">Quickly sync over million records
          between apps created on our platform
          Equilibria by Enquero. </span>
      </div>
      <div class="col-sm card-column">
        <img src="../../assets/graph.png" style="width: 44px" />
        <span class="content-text">Ease access to objects and
          sample records for seamless experience
          and flexibility.</span>
      </div>
      <div class="col-sm card-column">
        <img src="../../assets/layout.png" style="width: 44px" />
        <span class="content-text">Real-time status monitor for
          object sync across apps has never been
          this simple.</span>
      </div>
    </div>
  </section>
  <section class="bottom-section">
    <div class="row bottom-section-header">
      <div class="col-sm" style="width:50%">
        <p style="margin-top:5px;padding-left: 40px;font-style: normal;
             font-weight: 500;
             font-size: 14px;
             line-height: 16px;
             padding-top: 24px;
             color: #2E2E2E;
             ">App Section</p>
      </div>
      <div class="col-sm" style="width: 50%;
      justify-content: flex-end;
      flex: 1;
      display: flex;padding-right:40px">
        <a mat-button routerLink="." style="padding-top: 24px;">See All</a>
      </div>
    </div>
    <div class="row bottom-section-card-holder">
      <div class="col card-column2">
        <a routerLink="Salesforce" style="text-decoration:none">
          <div class="sales">
            <p class="head">Salesforce Sync
              <p class="para">Align SFDC data with Anaplan
              </p>
              <img class="salesforce" src="../../assets/salesforce.png">
          </div>
          <div class="card-c-border" style="background-color: #00A1E0"></div>
        </a>
      </div>
      <div class="col card-column2">
        <a routerLink="Anaplan" style="text-decoration:none">
          <div class="sales">
            <p class="head">Anaplan Sync
              <p class="para">Align Anaplan data with SFDC
              </p>
              <img class="salesforce" src="../../assets/salesforce.png">
          </div>
          <div class="card-c-border" style="background-color: #0A2064"></div>
        </a>
      </div>
      <div class="col card-column2">
        <a routerLink="dd" style="text-decoration:none">
          <div class="sales">
            <p class="head">SAP Sync
              <p class="para">Align SAP data with Anaplan
              </p>
              <img class="salesforce" src="../../assets/sap.png">
          </div>
          <div class="card-c-border" style="background-color: #186CC4"></div>
        </a>
      </div>
      <div class="col card-column2">
        <a routerLink="dd" style="text-decoration:none">
          <div class="sales">
            <p class="head">Orcale Sync
              <p class="para">Align Oracle data with Anaplan
              </p>
              <img class="salesforce" src="../../assets/oracle.png">
          </div>
          <div class="card-c-border" style="background-color: #ED1D24"></div>
        </a>
      </div>
      <div class="col card-column2">
        <a routerLink="dd" style="text-decoration:none">
          <div class="sales">
            <p class="head">Anaplan Sync
              <p class="para">Align Anaplan data with SAP
              </p>
              <img class="salesforce" src="../../assets/anaplan.png">
          </div>
          <div class="card-c-border" style="background-color: #0A2064"></div>
        </a>
      </div>
      <div class="col card-column2">
        <a routerLink="dd" style="text-decoration:none">
          <div class="sales">
            <p class="head">Anaplan Sync
              <p class="para">Align Anaplan data with Oracle
              </p>
              <img class="salesforce" src="../../assets/anaplan.png">
          </div>
          <div class="card-c-border" style="background-color: #0A2064"></div>
        </a>
      </div>
      <div class="col card-column2">
        <a routerLink="dd" style="text-decoration:none">
          <div class="sales">
            <p class="head">Anaplan Sync
              <p class="para">Align Anaplan data with NetSuite
              </p>
              <img class="salesforce" src="../../assets/anaplan.png">
          </div>
          <div class="card-c-border" style="background-color: #0A2064"></div>
        </a>
      </div>
      <div class="col card-column2">
        <a routerLink="dd" style="text-decoration:none">
          <div class="sales">
            <p class="head">Netsuite Sync
              <p class="para">Align Netsuite data with Anaplan
              </p>
              <img class="salesforce" src="../../assets/netsuite.png">
          </div>
          <div class="card-c-border" style="background-color:#6079CF"></div>
        </a>
      </div>
    </div>
  </section>
</section>
