<!-- <style>
.block {
  display: block; 
}

.none {
  display: none; 
}

</style> -->
<mat-toolbar>
  <a class="navbar-brand" routerLink="">
    <p class="logo">Equilibria</p>
  </a>
  <span>
    <select class="dropdown" (change)="navigateTo($event.target.value)" id="Id1">
    <option value="/Salesforce" id="Id1">SFDC Object Manager</option>
  <option value="/Anaplan" id="Id2">Anaplan Model Manager</option> 
  </select>
</span>


  <input type="search" class="searchbar" (keyup)="applyFilter($event.target.value)" placeholder=" Search" />
</mat-toolbar>
<br>
<div class="breadcrumbs">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink=''>Home</a></li>
      <li class="breadcrumb-item"><a routerLink=''>Salesforce Sync</a></li>
      <li class="breadcrumb-item active">Align SFDC data with Anaplan</li>
  </ol>
</div>
<a routerLink="Jobs Monitor">
  <mat-icon>settings</mat-icon>
</a>

<mat-icon (click)="openDialog()">border_color</mat-icon>

<br />
<div class="table-panel">
  <div class="table-scroll">
    <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-elevation-z8">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>

        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
          <i class="collapsed-show material-icons">keyboard_arrow_right</i>
        </td>  
      </ng-container>
      
      

      <ng-container matColumnDef="Label">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>LABEL</th>
        <td mat-cell *matCellDef="let element">{{ element.Label }}
        </td>
      </ng-container>

      <ng-container matColumnDef="API_Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>API NAME</th>
        <td mat-cell *matCellDef="let element">{{ element.API_Name }}</td>
      </ng-container>

      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef>DESCRIPTION</th>
        <td mat-cell *matCellDef="let element">{{ element.Description }}</td>
      </ng-container>

      <ng-container matColumnDef="sync">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>LAST SYNC</th>
        <td mat-cell *matCellDef="let element">{{ element.sync }}</td>
      </ng-container>

      <ng-container matColumnDef="Deployed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>DEPLOYED</th>
        <td mat-cell *matCellDef="let element">{{ element.Deployed }}</td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

            <table id="childTable" mat-table [dataSource]="datasources1" class="mat-elevation-z8">

              <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef>NAME</th>
                <td mat-cell *matCellDef="let elem"> {{elem.Name}} </td>
              </ng-container>

              <ng-container matColumnDef="Account_Owner_18_Digit_Id__c">
                <th mat-header-cell *matHeaderCellDef>ACCOUNT OWNER</th>
                <td mat-cell *matCellDef="let elem"> {{elem.Account_Owner_18_Digit_Id__c}} </td>
              </ng-container>

              <ng-container matColumnDef="Geo__c">
                <th mat-header-cell *matHeaderCellDef>GEO</th>
                <td mat-cell *matCellDef="let elem"> {{elem.Geo__c}} </td>
              </ng-container>

              <ng-container matColumnDef="CMT_NAME__c">
                <th mat-header-cell *matHeaderCellDef>CMT NAME</th>
                <td mat-cell *matCellDef="let elem"> {{elem.CMT_NAME__c}} </td>
              </ng-container>

              <ng-container matColumnDef="Sub_District__c">
                <th mat-header-cell *matHeaderCellDef>SUB DISTRICT</th>
                <td mat-cell *matCellDef="let elem"> {{elem.Sub_District__c}} </td>
              </ng-container>

              <ng-container matColumnDef="Account_Owner_Name__c">
                <th mat-header-cell *matHeaderCellDef>ACCOUNT OWNER NAME</th>
                <td mat-cell *matCellDef="let elem"> {{elem.Account_Owner_Name__c}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </td>
      </ng-container>


      <ng-container matColumnDef="expanded">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns1.length">
          <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
             
            <table id="childTable" mat-table [dataSource]="datasources2" class="mat-elevation-z8">

              <ng-container matColumnDef="SFDC_Accounts__c">
                <th mat-header-cell *matHeaderCellDef>SDFC ACCOUNTS</th>
                <td mat-cell *matCellDef="let elem"> {{elem.SFDC_Accounts__c}} </td>
              </ng-container>

              <ng-container matColumnDef="Revenue_Category_Code__c">
                <th mat-header-cell *matHeaderCellDef>REVENUE CATEGORY</th>
                <td mat-cell *matCellDef="let elem"> {{elem.Revenue_Category_Code__c}} </td>
              </ng-container>

              <ng-container matColumnDef="FY15__c">
                <th mat-header-cell *matHeaderCellDef>FY15</th>
                <td mat-cell *matCellDef="let elem"> {{elem.FY15__c}} </td>
              </ng-container>

              <ng-container matColumnDef="FY16__c">
                <th mat-header-cell *matHeaderCellDef>FY16</th>
                <td mat-cell *matCellDef="let elem"> {{elem.FY16__c}} </td>
              </ng-container>

              <ng-container matColumnDef="FY17__c">
                <th mat-header-cell *matHeaderCellDef>FY17</th>
                <td mat-cell *matCellDef="let elem"> {{elem.FY17__c}} </td>
              </ng-container>

              <ng-container matColumnDef="FY18__c">
                <th mat-header-cell *matHeaderCellDef>FY18</th>
                <td mat-cell *matCellDef="let elem"> {{elem.FY18__c}} </td>
              </ng-container>

              <ng-container matColumnDef="FY19__c">
                <th mat-header-cell *matHeaderCellDef>FY19</th>
                <td mat-cell *matCellDef="let elem"> {{elem.FY19__c}} </td>
              </ng-container>

              <ng-container matColumnDef="FY20__c">
                <th mat-header-cell *matHeaderCellDef>FY20</th>
                <td mat-cell *matCellDef="let elem"> {{elem.FY20__c}} </td>
              </ng-container>

              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>TYPE</th>
                <td mat-cell *matCellDef="let elem"> {{elem.type}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
            </table>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
     
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay" class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="onClick(element)">
      </tr>
      
      <tr  mat-row *matRowDef="let row; columns: ['expandedDetail']"  [ngClass]="calculateClassesAccount()" ></tr>
     
      
      <tr mat-row *matRowDef="let row; columns:['expanded']" [ngClass]="calculateClassesRevenue()"></tr> 
    </table>

  </div>
</div>
<div class="col text-right">

  <button type="button" class="btn" routerLink="Jobs Monitor">Sync Now</button>
</div>
<!-- <a routerLink="Jobs Monitor"></a> -->